.grid-item:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.04);
}
  
.grid-item:nth-of-type(even) {
  background-color: #fff;
}

.grid-item {
  padding: 8px;
}

.dataText{
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
}

.headerText, .dataText {
  display: block;
  text-align: center; 
  margin-right: 8px;
}

.grid-item .dataText {
  padding: 8px 0;
}
.link-hover-outline {
  text-decoration: none;
}

.link-hover-outline:hover {
  text-decoration: underline;
}